html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

html, body{
    height: 100%;
}


.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-title{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
}

.header{
    background-color: #151515;
}

.header-main{
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
}

.header__inner{
    padding-top: 20px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 0 35px;
}

.menu__list-link{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.menu__list-link--active{
    color: #0066FF;
}



.main{
    flex-grow: 1;
}

.top{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.title{
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top__link{
    display: inline-block;
    background-color: #21252e;
    border: 1px solid;
    padding: 23px 23px;
    max-width: 430px;
    width: 100%;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.contacts{
    padding: 100px 0 150px;
}

.contacts__title{
    margin-bottom: 20px;
}

.contacts__text{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 100px;
}

.form{
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__input{
    display: inline-block;
    width: 270px;
    padding: 18px 20px;
    border: 1px solid #0066FF;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    color: #000;
}

.form__textarea{
    width: 100%;
    height: 290px;
    border: 1px solid #0066FF;
    resize: none;
    padding: 28px 20px;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    color: #000;
    margin-bottom: 50px;
}

.form__input::placeholder,
.form__textarea::placeholder{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    color: #000;
    opacity: .5;
}

.form__btn{
    text-transform: uppercase;
    color: #fff;
    background-color: #151515;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    padding: 13px;
    width: 184px;
    margin: 0 auto;
}

.choose{
    padding: 100px 0 150px;
}

.tabs__content{
    padding-bottom: 70px;
}

.tabs__btn{
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 100px;
}

.tabs__btn-item{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

.tabs__btn-item--active{
    color: #0066FF;
}

.tabs__content-item{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}


.tabs__content-item.tabs__content-item--active{
    display: grid;
}

.card{
    text-align: center;
    
}

.card__img{
    display: block;
    width: 100%;
}

.card__content{
    padding: 0 5px;
    border: 1px solid #0066FF;
    border-top: 0;
}

.card__title{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__text{
    margin-bottom: 20px;
}

.card__price{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__link{
    display: block;
    color: #0066FF;
    border: 1px solid #0066FF;
    border-top: 0;
    width: 100%;
}





.blog{
    padding-bottom: 150px;
}

.blog__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 40px;
    margin-bottom: 70px;
}

.blog__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item-img{
    margin-bottom: 30px;
    width: 100%;
}

.blog__item-title{
    font-size: 24px;
    font-weight: 700;
    flex-basis: 446px;
}

.blog__item-link{
    /* font-weight: 700; */
    background-color: #0066FF;
    color: #fff;
    padding: 4px;
    width: 80px;
    text-align: center;
}

.showmore-link{
    display: block;
    background-color: #000;
    color: #fff;
    padding: 13px 13px;
    width: 225px;
    text-align: center;
    margin: 0 auto;
}



.footer{
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
}

.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list{
    max-width: 250px;
}

.footer__menu-item + .footer__menu-item{
    margin-top: 20px;
}

.footer__menu-title{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.app{
    display: flex;
    justify-content: center;
    gap: 39px;
    margin-bottom: 50px;
}

.footer__copy{
    font-size: 12px;
    max-width: 806px;
    text-align: center;
    margin: 0 auto 30px;
}

.copy__nav-list{
    display: flex;
    gap: 0 40px;
    justify-content: center;
}

/* .swiper{
    content: '';
    background: rgba(21, 21, 21, 0.3);
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
} */

/* .swiper-wrapper{
    background: rgba(21, 21, 21, 0.3);
} */

.swiper-slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    width: 120px;
    height: 6px;
    background-color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 15px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 20px;
}

.why-lease{
    padding: 150px 0;
}

.why-lease__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.why-lease__img{
    margin-bottom: 30px;
}

.why-lease__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.why-lease__text{
    text-align: left;
}

.how-does{
    padding-bottom: 150px;
}

.how-does-inner{
    max-width: 580px;
    margin: 0 auto;
}

.how-does__title{
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
}

.how-does__list{
    padding-top: 50px;
    padding-bottom: 70px;
    counter-reset: myCounter;
}

.how-does__item{
    list-style-type: none;
    width: 270px;

    position: relative;
    margin-left: auto;
    padding-left: 240px;
    padding-top: 19px;
    padding-bottom: 19px;
    box-sizing: content-box;
    min-height: 64px;
}

.how-does__item + .how-does__item{
    margin-top: 40px;
}

.how-does__item::before{
    counter-increment: myCounter;
    content: counter(myCounter);
    display: flex;
    font-size: 48px;
    color: #fff;
    background-color: #0066FF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
}

.video{
    padding-bottom: 150px;
}

.video__title{
    margin-bottom: 50px;
}

.video__text{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.video__content{
    margin: 0 auto;
    display: block;
}

.important{
    margin-bottom: 150px;
}

.important__title{
    margin-bottom: 20px;
}

.important__text{
    max-width: 560px;
    margin: 0 auto 50px auto;
}

.important__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.important__item-img{
    margin-bottom: 20px;
}

.menu__btn{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
.menu__btn span{
    height: 2px;
    width: 100%;
    background-color: #fff;
}


@media (max-width: 1180px){
    .important__list{
        gap: 30px 20px;
    }

    .important__item-img{
        width: 100%;
    }
    .tabs__btn{
        gap: 20px;
    }
    .tabs__content-item{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1020px){
    .video__content{
        width: 100%;
    }

    .tabs__btn{
        padding: 0 0 50px 0;
        justify-content: center;
    }
}
@media (max-width: 860px){
    .menu__btn{
        display: flex;
    }
    .menu__btn,
    .logo{
        position: relative;
        z-index: 10;
    }
    .menu__list{
        gap: 35px;
        position: absolute;
        z-index: 9;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        background-color: #151515;
        height: 100vh;
        transform: translateY(-100%);
        transition: transform .3s ease;
    }
    .menu__list.menu__list--active{
        transform: translateY(0%);
    }

    .why-lease__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .important__list{
        grid-template-columns: repeat(2, 1fr);
    }

    .tabs__content-item{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px){
    .title{
        font-size: 70px;
    }
    .top__link{
        font-size: 28px;
        max-width: 360px;
        padding: 16px;
    }
    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active{
        width: 60px;
    }
    .swiper-pagination-bullet-active{
        height: 4px;
    }

    .video__content{
        height: 400px;
    }
    .footer__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding-left: 20px;
    }

    .tabs__btn-item {
        font-size: 20px;
    }

}

@media (max-width: 600px) {
    .tabs__content-item {
        grid-template-columns: repeat(1, 1fr);
    }
    .tabs__btn {
        flex-direction: column;
    }

    .blog{
        padding-bottom: 100px;
    }
    .blog__items{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-bottom: 50px;
    }

    .blog__item-title {
        font-size: 22px;
        flex-basis: 400px;
    }

    .copy__nav-list {
        flex-wrap: wrap;
        gap: 15px 35px;
    }

    .choose {
        padding: 50px 0 100px;
    }
    .tabs__content {
        padding-bottom: 50px;
    }
    .tabs__content-item{
        gap: 40px 0;
    }

    .footer__menu-title {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .footer__menu-item + .footer__menu-item {
        margin-top: 10px;
    }

    .contacts{
        padding: 50px 0;
    }
    .contacts__text {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
        padding: 0;
    }
    .form__input{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 540px){
    .title{
        font-size: 60px;
    }
    .top__link{
        font-size: 24px;
        max-width: 310px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 10px;
    }
    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active{
        width: 35px;
    }

    .why-lease__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .why-lease__text {
        text-align: center;
    }

    .why-lease {
        padding: 50px 0;
    }

    .section-title{
        font-size: 34px;
    }

    .how-does{
        padding-bottom: 50px;
    }
    .how-does__list {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .video{
        padding-bottom: 50px;
    }
    .video__content{
        height: 400px;
    }

    .how-does__item{
        padding-top: 65px;
        padding-left: 0;
        margin-right: auto;
    }
    .how-does__item::before{
        right: 0;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        font-size: 32px;
    }
    .important__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .important__item-img{
        margin-bottom: 10px;
    }

    .app{
        gap: 0;
    }

    .blog__item{
        gap: 10px;
    }
}

